.container{
 margin:auto;
    height:100%;
    background-color: ;
}
.header{
    text-align: center;
    height:200px;
    background-image:url(Plant%20hedge%20bush%20leaf%20leaves%20texture.jpg);
    
    
}
h1{
 color:white;
 font-family: sans-serif;
 display: inline;
  height:100px;
 line-height: 2.0;
font-size:50px
}
ul{ 
    list-style-type:none;
    
}
a{
    color:white;

}
li a{
    font-size:20px;
    text-align: center;
    margin-left: 10px;
    margin-right:0px; 
    margin-bottom: 90px;
    height: 35px;
    display:block;
    border-style:solid;
    border-color:chartreuse;
    padding: 5px;
    background-color:saddlebrown;
    width:150px;
}
li a:hover{
    background-color: aliceblue;
    border-color: dodgerblue;
    color:chartreuse;
}
.content{

    margin:auto;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width:100%;
    text-align: center;
    
}

body, html {
    height: 100%;
    margin: 0;
}
hr{
    max-width:900px;
     border-color: white;
}
.main{
    background-image:url(forest.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    color:white;
}
p{
    font-size:20px;
    text-align: left;
}
a{
    color:chartreuse;
    font-size:25px;
}
img {
    width: 70%;
    height:65.9%;
    
}
.header a {
    display:inline-block;
    background-color:saddlebrown;
    margin:50px;
    margin-top:10px;
    width:130px;
    height:50px;
    text-align:center;
    line-height:50px;
    text-decoration: none;
    font-family:sans-serif;
    
    

}
h2{
    margin-top: none;
 margin-bottom: none;
color:white;
font-family: sans-serif;
font-size:30px
}